.about{
    padding: 10vh 0;
}
.about h1{
    text-align: center;
}
.about_container{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10rem;
    align-items: center;
}
.text p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contact{
    background-color: #4A4A4A;
    padding: 10vh;
    color: white;
}
.contact main>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    align-items: center;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.contact_form form input{
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    font-size: large;
}
.contact_form form textarea{
    height: 15rem;
    padding: 0 1rem;
    border: none;
    font-size: large;
}
.contact_form form button, .newsletter_element form button{
    display: block;
    margin-left: auto;
    width: fit-content;
    padding: 1rem;
    font-size: large;
    color: white;
    background: red;
    border: none;
    border-radius: 5px;
}
.newsletter{
    background: #CECECE;
}
.newsletter_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    align-items: center;
}
.newsletter_element form{
    display: flex;
    gap: 1rem;
}
.newsletter_element form input{
    font-size: large;
    padding: 0.8rem;
    width: 70%;
    border: none;
    border-radius: 8px;
}
.newsletter_element form button{
    background: #4A4A4A;
    margin: 0;
    width: 25%;
}