.produit{
    padding: 10vh;
}
.produit h3{
    font-weight: 600;
    margin-bottom: 1rem;
}
.produit_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/*--------------------- mini_nav -------------------------*/

.mini_nav{
    margin-bottom: 2rem;
}
.mini_nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.mini_nav button{
    background: none;
    border: none;
    font-size: large;
    font-weight: 600;
    position: relative;
    padding:  0.5rem 0;
    transition: 0.1s;
}
.mini_nav button:hover, .mini_nav button:focus, .mini_nav button:active{
    border-bottom: 4px solid red;
}
.info_produit{
    padding: 10vh;
}
.info_produit main{
    width: 70%;
    margin: auto;
}
/*--------------------- presentation --------------------*/

.presentation main{
    width: 70%;
    margin: auto;
    padding-top:  10vh;
}
.presentation_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
.presentation_img{
    width: 100%;
}

.presentation_img img
{
    max-height: 100%;
    max-width: 100%;
}
.presentation_img_p{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.presentation_img_p img{
    background: none;
    border: none;
    opacity: 0.5;
    cursor: pointer;
}
.presentation_img_p img:hover, .presentation_img_p button:focus, .presentation_img_p button:active{
    opacity: 1;
}
.presentation_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.presentation_text_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation_text_title h1{
    font-weight: 600;
}
.presentation_text_title a{
    display: block;
    width: fit-content;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 0.2rem 1rem;
    background: red;
    border-radius: 0.5rem;
}

.presentation_text_number{

}
.presentation_text_number h1{
    color: red;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.presentation_text_number div{
    display: flex;
    
}
.presentation_text_number button{
    color: white;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: x-large;
    border: none;
    background: #474747;
}
.presentation_text_number input{
    background: black;
    color: white;
    width: 3rem;
    font-size: large;
    font-weight: bolder;
    border: none;
    text-align: center;
}
.presentation_text_shop{

}
.presentation_text_shop button{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    font-size: medium;
    color: white;
    background: #9AD4E2;
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
}

.btn
{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    font-size: medium;
    color: white;
    background: #9AD4E2;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.admin_options
{
    display: flex;
    padding: 1rem;
    justify-content: end;
    gap: 1rem;
}
