.product_content
{
    margin: 2rem 0 2rem 0;
}
.account_dropdown
{
    position: absolute;
    top: 3rem;
    right: 7rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
    transform-origin: 100% 0;
    border: solid 0.5px rgb(230, 230, 230);
    z-index: 3;
}


.account_dropdown a
{
    color: rgb(49, 49, 49);
    text-decoration: none;
    padding: 1rem;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}
.account_dropdown form 
{
    color: rgb(49, 49, 49);
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    transition: background-color 200ms ease-in-out;
}
.account_dropdown a:first-of-type
{
    border-radius: 0.5rem 0.5rem 0 0 ;
}

.account_dropdown a:last-of-type
{
    border-radius:0 0 0.5rem 0.5rem;
}
.account_dropdown a:hover
{
    background-color: rgb(241, 241, 241);
}


/*Products*/



/*Panier*/

.cart_container
{
    width: 80%;
    margin: 3rem auto 3rem auto;
    padding: 2rem 1rem 2rem 1rem;
    background-color: rgb(247, 247, 247);
    border-radius: 1rem;
}
.order
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
}
.order_infos
{
    display: flex;
}
.product_img
{
    max-width: 10rem;
    border-radius: .5rem;
    margin-right: 1rem;
}
.product_infos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1rem 0  ;
}
.product_quantity
{
    display: flex;
    color: red;
}

.product_name a
{
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-size: larger;
    
}
.order_total
{
    display: flex;
    align-items: flex-end;
    margin: 1rem;
    color: red;
}
.delete_btn
{
    height: 2rem;
    width: 2rem;
    background-color: rgb(44, 44, 44);
    color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    position: absolute;
    top: 0rem;
    right: 1rem;
}

.cart_options
{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}
.cart_options h3 span
{
    color: red;
}
.btn
{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    font-size: medium;
    color: white;
    background: #9AD4E2;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
